/* BASIC RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f5f5f5;
    color: #423c3c;
}

/* HEADER */
header {
    background: #252222;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 50px;
}

.navbar a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.navbar a:hover,
.navbar .active {
    background-color: #ee250a;
    font-size: 20px;
}

/* HERO SECTION */
.hero {
    height: 80vh;
    background-color: #0b1a17;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-text h2 {
    font-size: 45px;
}

.hero-text span {
    color: yellow;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #8be6e1;
    color: #111;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover {
    background: white;
}

/* ABOUT SECTION */
.about-section {
    padding: 20px;
    background: white;
}

.about-container {
    margin-top: 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 20px;
}

.about-container img {
    width: 250px;
    border-radius: 20px;
}

/* SKILLS */
.skills-section {
    padding: 40px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.skill-card {
    padding: 20px;
    background: rgb(171, 181, 238);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(10, 7, 7, 0.2);
    transition: transform 0.3s;
}

.skill-card:hover {
    transform: scale(1.05);
}

/* CONTACT FORM */
.contact-section {
    padding: 200px;
    background-color: rgb(176, 231, 217);
}

.contact-form {
    width: 100%;
    max-width: 500px;
    margin: auto;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #333;
    border-radius: 8px;
}

.contact-form button {
    margin-top: 15px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
    margin-top: 30px;
}


